<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newburger="{{sleep}}">
		{{#if eat}}Dinner Time{{else}}Feels Bloaty{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
